<div class="story-img">
  <img class="story-img-art" src="<%= @image %>" alt="<%= @story.search_request %>">
</div>

<h2 style="color:black"><%= @story.search_request %></h2>

<div class="adventure-story">
  <p class="type-text"></p>
</div>

<div class="adventure-story">
  <%= @text %>
</div>

<script src="<%= static_path(@conn, "/js/app.js") %>"></script>
<script>require('js/app.js').App.typeit(`<%= @text %>`);</script>
